body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'moderat';
}

h1 {
  line-height: 1.2;
  font-size: 2.1rem;
  font-weight: normal;
  margin: 0;
  margin-top: 0.5rem;
}

@media (min-width: 64rem) {
  h1 {
    font-size: 2.625rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 0;
  color: #787878;
}

h4 {
  font-size: 1.3125rem;
  margin: 0;
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
  font-size: 1.3125rem;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 10rem;
}

.h-layout {
  padding: 0 5%;
}

@media (min-width: 48rem) {
  .h-layout {
    padding: 0 6%; 
  } 
}

@media (min-width: 64rem) {
  .h-layout {
    padding: 0 10%;
  }
}

@media (min-width: 90rem) {
  .h-layout {
    padding: 0 13.7%;
  }
}

.h-layout--right {
  width: calc(100% + 4.8vw);
}

@media (min-width: 48rem) {
  .h-layout--right {
    width: calc(100% + 5.9vw);
  }
}

@media (min-width: 64rem) {
  .h-layout--right {
    width: calc(100% + 9.8vw);
  }
}

@media (min-width: 90rem) {
  .h-layout--right {
    width: calc(100% + 13.5vw);
  }
}

.h-layout--left {
  width: calc(100% - 4.8vw);
}

@media (min-width: 48rem) {
  .h-layout--left {
    width: calc(100% - 5.9vw);
  }
}

@media (min-width: 64rem) {
  .h-layout--left {
    width: calc(100% - 9.8vw);
  }
}

@media (min-width: 90rem) {
  .h-layout--left {
    width: calc(100% - 13.5vw);
  }
}