.footer__socials {
  border-top: 1px solid #e6e6e6;
  padding: 1.5rem 0;
}

@media (min-width: 48rem) {
  .footer__socials {
    border-top: 1px solid #e6e6e6;
    padding: 3rem 0;
  }
}

.footer__socials__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__socials__list-item {
  width: 50%;
}

@media (min-width: 48rem) {
  .footer__socials__list-item {
    width: auto;
  }
}

.footer__socials__list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  transition: all 0.2s ease;
}

@media (min-width: 48rem) {
  .footer__socials__list__link {
    margin-bottom: 0rem;
  }
}

.footer__socials__list__link:hover {
  color: #003cff;
}

.footer__socials__list__svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.footer__container__bottom {
  background-color: #e6e6e6;
}

.footer__form {
  padding: 3.75rem 0;
}

.footer__form__label {
  display: block;
  font-size: 1.75rem;
}

.footer__form__flex {
  display: flex;
  align-items: center;
  border: 1px solid rgb(0,0,0,0.2);
  margin-top: 1rem;
  justify-content: space-between;
}

@media (min-width: 48rem) {
  .footer__form__flex {
    max-width: 25%;
  }
}

.footer__form__button {
  border: none;
  background-color: #003cff00;
  color: #003cff00;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.footer__form__button--active {
  color: #003cff;
}

.footer__form__input {
  background-color: transparent;
  border: 0px solid rgb(0,0,0,0.2);
  color: rgb(0,0,0,0.2);
  width: calc(100% - 1rem);
  padding: 0.75rem 0.5rem;
  font-size: 1.05rem;
}

.footer__form__input:focus {
  outline: none;
}

@media (min-width: 48rem) {
  .footer__instagram {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__instagram__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .footer__instagram__title {
    width: 100%;
  }
}

.footer__instagram__link__text {
  font-size: 1.75rem;
  line-height: 1.2;
  margin: 0;
  margin-top: 0.5rem;
  width: 8rem;
  transition: all 0.2s ease;
}

.footer__instagram__link__text:hover {
  color: #003cff;
}

@media (min-width: 48rem) {
  .footer__instagram__pics {
   margin-left: 6.25rem;
  }
}

.footer__instagram__pics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__instagram__pics__list-item {
  width: calc(50% - 0.5rem);
  margin-bottom: 0.5em;
}

@media (min-width: 48rem) {
  .footer__instagram__pics__list-item {
    width: calc(20% - 0.5rem);
  }
}

.footer__instagram__link__pics__link-img {
  width: 100%;
}

.footer__bottom__rights-reserved {
  padding: 4rem 0;
}

@media (min-width: 48rem) {
  .footer__bottom__rights-reserved {
    display: flex;
    justify-content: space-between;
  }
}

.footer__bottom__rights_reserved--text,
.footer__bottom__rights_reserved--links {
  font-size: 0.75rem;
  margin: 0;
}

.footer__bottom__rights_reserved--links a {
  transition: all 0.2s ease;
} 

.footer__bottom__rights_reserved--links a:hover {
  color: #003cff;
  border-bottom: 1px solid #003cff;
}

.footer__bottom__rights_reserved--links a::after {
  content: ' —';
  border-bottom: 2px solid #e6e6e6;
}

.footer__bottom__rights_reserved--links a:last-child::after {
  content: '';
}