.btn__to-top {
  transform: translateY(100%);
  border-top: 2px solid gray;
  border: none;
  background: white;
  box-shadow: 0px -1px 5px rgb(191, 191, 191);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(.29, 1, 1, -0.68);
  /*time, progression, time, progression*/
}

.btn__to-top:hover {
  color: #003cff;
}

.btn__to-top:focus {
  outline: none;
}

.btn__to-top--active {
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(.47,1.8,.11,.8);
}